.basis {
  background-color: yellow;
  height: 530px;
  width: 300px;
  border: 0.5em dashed red;
}

div {
  display: inline-block;
  text-align: center;
  margin: 10px;
  font-size: 17px;
}

h1 {
  display: inline-block;
  font: bold 60px fantasy;
  border-width: 8px 0px;
  border-style: solid;
  margin: 7px 10px;
}

.bold {
  font: bold 20px fantasy;
}